/* Add mobile styles for the component here.  */

.titleQuestion{
    width: 70;
    text-align: right;
    margin-left: 5;
    font-size: 12;
    padding: 5;
}
.contentQuestion{

    font-size: 12;
    padding: 5;
}
Label{
    color: black;
}

.questionsBar{
    background-image: linear-gradient(to right, green, #1b2e11);
    color: white;
    text-align: center;
    font-size: 20%;
    padding-top: 15;
    font-family: "iranian", "Iranian Sans";
}
