/* Add mobile styles for the component here.  */

.titleQuestion{
    width: 70;
    text-align: right;
    margin-left: 5;
    font-size: 12;
    padding: 5;
}
.contentQuestion{

    font-size: 12;
    padding: 5;
}
Label{
    color: black;
}
