<StackLayout orientation="vertical" style="background-color: #6e6e6e">
    <stack-layout marginBottom="10" orientation="vertical" height="70" class="questionsBar">
        <scroll-view orientation="horizontal">
            <Label text=" {{checkListTitle}}" style="margin-top: 10;color: white;padding-top: 6"></Label>
        </scroll-view>
    </stack-layout>
    <scroll-view orientation="vertical">
        <StackLayout orientation="vertical" style="height: 100%">
            <ListView [items]="answerQuestionList">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <stack-layout
                            [ngStyle]="item.content.isAnswered?{'background-color':'#0c9d01'}:{'background-color':'#ffffff'}"
                            margin="5" padding="5 10"
                            style="border-radius: 10;">
                        <DockLayout>
                            <Label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="   طبقه سوال:{{item.content.checkListCategoryTitle}}"
                                   textWrap="true"
                                   style="padding:5 0;border-bottom-width: 1;border-color: black;margin-bottom: 5;margin-right: 5"> </Label>
                        </DockLayout>
                        <DockLayout>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="سوال {{item.content.priority}}-{{item.categoryPeriority}}:" dock="right" class="titleQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   textWrap="true" text="{{item.content.title}}" dock="right" style="text-align: left"
                                   class="contentQuestion"></label>
                        </DockLayout>
                        <DockLayout>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="معیار پذیرش " dock="right" class="titleQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="{{item.content.description}}" dock="right" style="text-align: left"
                                   class="contentQuestion"></label>
                        </DockLayout>
                        <DockLayout>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="مرجع استناد " dock="right" class="titleQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   textWrap="true" text="{{item.content.references}}" dock="right" style="text-align: left"
                                   class="contentQuestion"></label>
                        </DockLayout>
                        <DockLayout>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="جواب:" dock="right" class="titleQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="{{item.content.answer}}" dock="right" class="contentQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}" text=""
                                   dock="right" class="contentQuestion"></label>
                        </DockLayout>
                        <DockLayout>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="وضعیت:" dock="right" class="titleQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}"
                                   text="{{item.content.statusPersianTitle}}" dock="right"
                                   class="contentQuestion"></label>
                            <label [ngStyle]="item.content.isAnswered?{'color':'#ffffff'}:{'color':'#000000'}" text=""
                                   dock="right" class="contentQuestion"></label>
                        </DockLayout>
                        <button class="btn btn-primary" text="پاسخ دهی" (tap)="Answer(item)"></button>
                    </stack-layout>
                </ng-template>
            </ListView>
        </StackLayout>
    </scroll-view>
</StackLayout>
