<StackLayout orientation="vertical" style="height: 100%">
    <scroll-view orientation="vertical">
        <StackLayout orientation="vertical">
            <StackLayout *ngFor="let item of standards" class="item-part"
                         style="border-radius:10px;margin: 5px 7px;padding: 5px ;background-color: #b4e1b4;font-size: 14px">
                <DockLayout>
                    <Label dock="right" class="standardTitle" text="عنوان:"></Label>
                    <Label dock="right" class="standardContent" text="{{item.standard.title}}" textWrap="true"></Label>
                    <Label dock="right" text=""></Label>
                </DockLayout>
                <DockLayout>
                    <Label dock="right" class="standardTitle" text="کد:"></Label>
                    <Label dock="right" class="standardContent" text="{{item.standard.code}}" textWrap="true"></Label>
                    <Label dock="right" text=""></Label>
                </DockLayout>
                <DockLayout>
                    <Label dock="right" class="standardTitle" text="گروه تخصصی:"></Label>
                    <Label dock="right" class="standardContent" text="{{item.standard.proficiencyGroupTitle}}" textWrap="true"></Label>
                    <Label dock="right" text=""></Label>
                </DockLayout>
                <DockLayout>
                    <Label dock="right" class="standardTitle" text="فایل:"></Label>
                    <Label dock="right" class="fas fa-atlassian standardContent" text="&#xf0c6;" fontSize="18" color="blue" textWrap="true"></Label>
                    <Label dock="right" text=""></Label>
                </DockLayout>
            </StackLayout>
        </StackLayout>
    </scroll-view>
</StackLayout>


<!--<DockLayout *ngFor="let item of standards;let i=index" marginTop="10"
                    style="border-radius:10px;margin: 5px 7px;padding: 5px ;background-color: #b4e1b4">
            <StackLayout dock="right" orientation="vertical">
                <Label class="standardTitle" text="عنوان:"></Label>
                <Label class="standardTitle" text="کد:"></Label>
                <Label class="standardTitle" text="گروه تخصصی:"></Label>
                <Label class="standardTitle" text="فایل:"></Label>
            </StackLayout>
            <stack-layout dock="right">
                <scroll-view orientation="horizontal">
                    <Label class="standardContent" text="{{item.standardTitle}}"></Label>
                </scroll-view>
                <Label class="standardContent" text="{{item.standardCode}}"></Label>
                <Label class="standardContent" text="{{product}}" style="text-align: left"></Label>
                <Label class="fas fa-atlassian standardContent" text="&#xf0c6;" fontSize="18"
                       color="blue"></Label>
            </stack-layout>
        </DockLayout>-->
