<ScrollView>
    <stack-layout padding="30px" backgroundColor="#8fbc8f" style="height:100% ;align-items: stretch">
        <dock-layout >
            <Label dock="right" text="شماره ی Notification :" width="150" textAlignment="right"></Label>
            <Label textAlignment="right" dock="left" [text]="notificationNum" ></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="تاریخ Notification :" width="150" textAlignment="right"></Label>
            <Label textAlignment="right" dock="left" [text]="notificationDate"></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="شماره ی ITP :" width="150" textAlignment="right"></Label>
            <Label textAlignment="right" dock="left" [text]="itpNum"></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="تاریخ ITP :" width="150" textAlignment="right"></Label>
            <Label textAlignment="right" dock="left" [text]="itpDate"></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="شماره ی برنامه :" width="150" textAlignment="right" ></Label>
            <Label textAlignment="right" dock="left" [text]="programNum"></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="تاریخ برنامه :" width="150" textAlignment="right"></Label>
            <Label textAlignment="right" dock="left"[text]="programDate"></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="ساعت :" width="150" textAlignment="right"></Label>
            <Label dock="right" [text]="fromHour"></Label>
            <Label dock="right" text="تا " ></Label>
            <Label dock="right" textAlignment="right" [text]="toHour" ></Label>
        </dock-layout>
        <dock-layout>
            <Label dock="right" text="محصول :" width="150" textAlignment="right"></Label>
            <Label textAlignment="left" dock="left" [text]="product"></Label>
        </dock-layout>textAlignment="right"
    </stack-layout>
</ScrollView>
