<StackLayout>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
    <Label text="السلام علیک یا اباعبدالله الحسین علیه السلام"></Label>
</StackLayout>
