<StackLayout *ngIf="!displayInstanceEdit" style="height: 100%;">

    <StackLayout orientation="horizontal" style="background-color: #c7c7c7;border-radius: 5">
        <Button class="fas instanceBtn" text="&#xf021;" style="color: #630011" (tap)="reload()"></Button>
        //referesh
        <Button class="fas instanceBtn" text="&#xf067;" style="color: #484fff" (tap)="instanceEdit(null)"></Button>
        //insert
    </StackLayout>
    <scroll-view orientation="vertical">
        <StackLayout orientation="vertical">
            <scroll-view orientation="horizontal">
                <GridLayout [rows]="genRows(instanceList)"
                            columns="auto,auto,auto,3*,50" width="100%">
                    <!--header-->
                    <label style="background-color: darkolivegreen" text="ردیف" col="4"
                           row="0" class="gridd"></label>
                    <label style="background-color: darkolivegreen" text="نوع آزمون" col="3"
                           row="0" class="gridd"></label>
                    <label style="background-color: darkolivegreen" text="مرجع استناد" col="2"
                           row="0" class="gridd"></label>
                    <label style="background-color: darkolivegreen" text="سطح بازرسی" col="1"
                           row="0" class="gridd"></label>
                    <label style="background-color: darkolivegreen" text="عملیات" col="0"
                           row="0" class="gridd"></label>
                    <!--body-->
                    <ng-container *ngFor="let ch of instanceList;let c=index">

                        <label text="{{c+1}}" [row]="c+1" [col]="4" class="gridd"></label>

                        <label text="{{ch.examType}}" [row]="c+1" [col]="3" class="gridd" textWrap="true" ></label>

                        <label text="{{ch.citiationReferences}}" [row]="c+1" [col]="2" class="gridd"></label>

                        <label text="{{ch.inspectionLevel}}" [row]="c+1" [col]="1" class="gridd"></label>

                        <dock-layout [row]="c+1" [col]="0" style="border-width: 1;border-color: black;">
                            <Label dock="right" text="&#xf044;" class="fas operation" color="blue"
                                   (tap)="instanceEdit(ch)"></Label>
                            <Label dock="right" text="&#xf2ed;" class="fas operation" color="red"
                                   (tap)="delete(ch.id)"></Label>
                        </dock-layout>

                    </ng-container>
                </GridLayout>
            </scroll-view>
        </StackLayout>
    </scroll-view>
</StackLayout>
<instance-edit *ngIf="displayInstanceEdit" (toggleComponent)="goInstanceGrid($event)"
               [instance]="selectedInstance"></instance-edit>
