<StackLayout orientation="vertical">
    <StackLayout style="background-color: #c7c7c7;border-radius: 5;margin-bottom: 5" orientation="horizontal">
        <DockLayout style="width:100%; padding-right: 4">
            <Button dock="left" class="fas  instanceBtn" text="&#xf3e5;" style="color: #020000" (tap)="back()"></Button>
            //back
            <Button dock="left" class="fas instanceBtn" text="&#xf067;" style="color: #484fff;margin-left: 10" (tap)="instanceEdit()"></Button>//insert
            <Label dock="right" text="ثبت/ویرایش معیار نمونه" style="padding-top: 15;font-size: 14;font-weight: bold"></Label>
        </DockLayout>
    </StackLayout>
    <scroll-view orientation="vertical">
        <StackLayout orientation="vertical">
            <StackLayout>
                <DockLayout>
                    <Label class="instanceLbl" dock="right" text="نوع آزمون" style="color: #bb0606"></Label>
                    <DropDown #examTypeDropDown [items]="examType" dock="right"
                              [(ngModel)]="examTypeIndex"
                              (selectedIndexChanged)="selectedIndexExamType($event)"
                              color="#ffffff" class="drop-down" hint=" انتخاب کنید">
                    </DropDown>
                </DockLayout>
            </StackLayout>
            <StackLayout>
                <DockLayout>
                    <Label class="instanceLbl" dock="right" text="مرجع استناد" style="color: #bb0606"></Label>
                    <DropDown #citiationReferencesDropDown [items]="citiationReferencesLists" dock="right"
                              [(ngModel)]="citiationReferencesListsIndex"
                              (selectedIndexChanged)="selectedIndexCitiationReferences($event)"
                              color="#ffffff" class="drop-down" hint=" انتخاب کنید">
                    </DropDown>
                </DockLayout>
            </StackLayout>
            <StackLayout>
                <DockLayout>
                    <Label dock="right" class="instanceLbl" text="مرحله" style="color: #bb0606"></Label>
                    <text-field class="txtField" dock="right" keyboardType="number" [(ngModel)]="instance.step"></text-field>
                </DockLayout>
            </StackLayout>
            <StackLayout>
                <DockLayout>
                    <Label dock="right" class="instanceLbl" text="سطح بازرسی" style="color: #bb0606"></Label>
                    <DropDown #inspectionLevelDropDown [items]="inspectionLevelLists" dock="right"
                              [(ngModel)]="inspectionLevelListsIndex"
                              (selectedIndexChanged)="selectedIndexInspectionLevel($event)"
                              color="#ffffff" class="drop-down" hint=" انتخاب کنید">
                    </DropDown>
                </DockLayout>
            </StackLayout>
            <StackLayout style="width: 100%;margin: 8 0" orientation="horizontal">
                <DockLayout  style="width: 100%;">
                    <checkBox #vasfi dock="right"  [(ngModel)]="instance.descrtiveAttributeType" name="descrtiveAttributeType" text="مشخصه وصفی" style="text-align: right" ></checkBox>

                    <checkBox #kammi dock="right" [(ngModel)]="instance.sizeAttributeType"  name="sizeAttributeType"  text="مشخصه کمی" style="text-align: right" ></checkBox>

                    <Label dock="right" text="" style="padding-top: 15"></Label>
                </DockLayout>
            </StackLayout>
            <StackLayout>
                <DockLayout>
                    <Label dock="right" class="instanceLbl" text="حجم بهر" style="color: #bb0606"></Label>
                    <text-field  class="txtField" dock="right" keyboardType="number" [(ngModel)]="instance.bahrQuantity"></text-field>
                </DockLayout>
            </StackLayout>
            <StackLayout>
                <DockLayout>
                    <Button class="fas " text="انتخاب نمونه ها"style="width:80" (tap)="selectInstanceInfo(instance.selectedInstance)" dock="left"></Button>
                    <Label dock="right" class="instanceLbl" text="حجم نمونه" style="color: #bb0606"></Label>
                    <text-field dock="right" class="txtField" keyboardType="number"  [(ngModel)]="instance.instanceQuantity"></text-field>
                </DockLayout>
            </StackLayout>
            <StackLayout>
                <StackLayout class="hr-light"></StackLayout>
                <StackLayout orientation="vertical" style="margin-bottom: 8">
                    <Label style="padding-top: 10;font-size: 14" text="درجه اهمیت مشخصه جزئی"></Label>
                    <DockLayout>
                        <Label dock="right" text="REJ" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart" keyboardType="number" [(ngModel)]="instance.litleCharacterDegreeREJ"></TextField>
                        <Label dock="right" text="ACC" class="lblDegreePart" ></Label>
                        <TextField dock="right" class= "txtDegreePart" keyboardType="number" [(ngModel)]="instance.litleCharacterDegreeACC"></TextField>
                        <Label dock="right" text="AQL" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart"  [(ngModel)]="instance.litleCharacterDegreeAQL"></TextField>
                        <Label text=""></Label>
                    </DockLayout>
                </StackLayout>
                <StackLayout orientation="vertical" style="margin-bottom: 8">
                    <Label style="padding-top: 10;font-size: 14" text="درجه اهمیت مشخصه اصلی"></Label>
                    <DockLayout>
                        <Label dock="right" text="REJ" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart" keyboardType="number" [(ngModel)]="instance.mainCharacterDegreeREJ"></TextField>
                        <Label dock="right" text="ACC" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart" keyboardType="number" [(ngModel)]="instance.mainCharacterDegreeACC"></TextField>
                        <Label dock="right" text="AQL" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart"  [(ngModel)]="instance.mainCharacterDegreeAQL"></TextField>
                        <Label text=""></Label>
                    </DockLayout>
                </StackLayout>
                <StackLayout orientation="vertical" style="margin-bottom: 15">
                    <Label style="padding-top: 10;font-size: 14" text="درجه اهمیت مشخصه بحرانی"></Label>
                    <DockLayout>
                        <Label dock="right" text="REJ" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart" keyboardType="number" [(ngModel)]="instance.criticalCharacterDegreeREJ"></TextField>
                        <Label dock="right" text="ACC" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart" keyboardType="number" [(ngModel)]="instance.criticalCharacterDegreeACC"></TextField>
                        <Label dock="right" text="AQL" class="lblDegreePart"></Label>
                        <TextField dock="right" class= "txtDegreePart"  [(ngModel)]="instance.criticalCharacterDegreeAQL"></TextField>
                        <Label text=""></Label>
                    </DockLayout>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Button text="بازگشت" (tap)="back()"></Button>
                <Button text="ثبت" class="btnSave" (tap)="save()"></Button>
            </StackLayout>
        </StackLayout>
    </scroll-view>
</StackLayout>
