<Page xmlns="http://schemas.nativescript.org/tns.xsd">
    <Page.ActionBar>
        <ActionBar >
            <Label class="h3 p-15" text="صفحه اصلی" textWrap="true"></Label>
        </ActionBar>
    </Page.ActionBar>
</Page>
<GridLayout columns="*, *" rows="*, *"  backgroundColor="lightgray">
    <Label text="ارسال اطلاعات" row="0" col="0"></Label>
    <Label (tap)="get_data()" text="دریافت اطلاعات" row="0" col="1"></Label>
    <!--<Label  text="8888" row="0" col="0"></Label>-->
    <Label text="تنظیمات" row="1" col="0" ></Label>
    <Label [nsRouterLink]="['/tabs']" text="عملیات بازرسی" row="1" col="1"></Label>
</GridLayout>
