<ActionBar class="actionBar">
    <Label text="عملیات بازرسی" fontSize="14"></Label>
</ActionBar>
<StackLayout orientation="vertical">
    <StackLayout style="width: 100%;height:60;background-color: #ffffff" orientation="horizontal"
                 horizontalAlignment="center">
        <scroll-view orientation="horizontal" horizontalAlignment="left">
            <DockLayout horizontalAlignment="center">
                <Label (tap)="changeStatus('info')" class="fas tabName" dock="right" text="&#xf05a; &#xA;  اطلاعات"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':info?5:0,'border-bottom-color':info?'#254e0a':'#254e0a','color':info?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('item')" class="fas tabName" dock="right" text="&#xf0e8; &#xA; اقلام"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':item?5:0,'border-bottom-color':item?'#254e0a':'#254e0a','color':item?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('instanceInfo')" class="fas tabName" dock="right"
                       text="&#xf1fb; &#xA; اطلاعات نمونه" textWrap="true" *ngIf="isSampling"
                       [ngStyle]="{'borderBottomWidth':instanceInfo?5:0,'border-bottom-color':instanceInfo?'#254e0a':'#254e0a','color':instanceInfo?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('instance')" class="fas tabName" dock="right"
                       text="&#xf1fb; &#xA; معیار نمونه" textWrap="true" *ngIf="isSampling"
                       [ngStyle]="{'borderBottomWidth':instance?5:0,'border-bottom-color':instance?'#254e0a':'#254e0a','color':instance?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('checkList')" class="fas tabName" dock="right" text="&#xf0ae; &#xA; چک لیست"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':checklist?5:0,'border-bottom-color':checklist?'#254e0a':'#254e0a','color':checklist?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('standard')" class="fas tabName" dock="right" text="&#xf039; &#xA; استاندارد"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':standard?5:0,'border-bottom-color':standard?'#254e0a':'#254e0a','color':standard?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('equipment')" class="fas tabName" dock="right" text=" &#xf7d9;&#xA; تجهیزات"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':equipment?5:0,'border-bottom-color':equipment?'#254e0a':'#254e0a','color':equipment?'#000000':'#959595'}"></Label>

            </DockLayout>
        </scroll-view>
    </StackLayout>
    <StackLayout>

        <StackLayout *ngIf="info">
            <info-data></info-data>
        </StackLayout>

        <StackLayout *ngIf="item">
            <item-list></item-list>
        </StackLayout>

        <StackLayout  *ngIf="instanceInfo" style="margin: 3px 10px" class="page_border">
            <instanceInfo  [productId]="productId"></instanceInfo>
        </StackLayout>

        <StackLayout  *ngIf="instance" style="margin: 3px 10px" class="page_border">
            <instance [productId]="productId"></instance>
        </StackLayout>

        <StackLayout *ngIf="checklist">
            <check-list [productId]="productId" [productTitle]="productTitle"></check-list>
        </StackLayout>

        <StackLayout *ngIf="standard" style="margin:3px 10px" class="page_border">
            <standard [product]="productTitle"></standard>
        </StackLayout>

        <StackLayout *ngIf="equipment" style="margin:3px 10px" class="page_border">
            <equipment></equipment>
        </StackLayout>

    </StackLayout>
</StackLayout>
