<ActionBar class="actionBar">
    <Label text="عملیات بازرسی" fontSize="14"></Label>
</ActionBar>
<StackLayout orientation="vertical">
    <StackLayout style="width: 100%;height:60;background-color: #ffffff" orientation="horizontal"
                 horizontalAlignment="center">
        <scroll-view orientation="horizontal" horizontalAlignment="left">
            <DockLayout horizontalAlignment="center">
                <Label (tap)="changeStatus('info')" class="fas tabName" dock="right" text="&#xf05a; &#xA;  اطلاعات"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':info?5:0,'border-bottom-color':info?'#254e0a':'#254e0a','color':info?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('item')" class="fas tabName" dock="right" text="&#xf0e8; &#xA; اقلام"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':item?5:0,'border-bottom-color':item?'#254e0a':'#254e0a','color':item?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('instanceInfo')" class="fas tabName" dock="right"
                       text="&#xf1fb; &#xA; اطلاعات نمونه" textWrap="true" *ngIf="isSampling"
                       [ngStyle]="{'borderBottomWidth':instanceInfo?5:0,'border-bottom-color':instanceInfo?'#254e0a':'#254e0a','color':instanceInfo?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('instance')" class="fas tabName" dock="right"
                       text="&#xf1fb; &#xA; معیار نمونه" textWrap="true" *ngIf="isSampling"
                       [ngStyle]="{'borderBottomWidth':instance?5:0,'border-bottom-color':instance?'#254e0a':'#254e0a','color':instance?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('checkList')" class="fas tabName" dock="right" text="&#xf0ae; &#xA; چک لیست"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':checklist?5:0,'border-bottom-color':checklist?'#254e0a':'#254e0a','color':checklist?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('standard')" class="fas tabName" dock="right" text="&#xf039; &#xA; استاندارد"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':standard?5:0,'border-bottom-color':standard?'#254e0a':'#254e0a','color':standard?'#000000':'#959595'}"></Label>

                <Label (tap)="changeStatus('equipment')" class="fas tabName" dock="right" text=" &#xf7d9;&#xA; تجهیزات"
                       textWrap="true"
                       [ngStyle]="{'borderBottomWidth':equipment?5:0,'border-bottom-color':equipment?'#254e0a':'#254e0a','color':equipment?'#000000':'#959595'}"></Label>

            </DockLayout>
        </scroll-view>
    </StackLayout>
    <StackLayout>
        <StackLayout *ngIf="info">
            <StackLayout style="padding: 5">
                <StackLayout class="page_border">
                    <scroll-view orientation="vertical">
                        <StackLayout>
                            <dock-layout class="info-dockLayout">
                                <Label dock="right" text="شماره ی Notification :" width="170"
                                       textAlignment="right" textWrap="true"></Label>
                                <Label textAlignment="right" textWrap="true" dock="left"
                                       [text]="notificationNum"></Label>
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label textWrap="true" dock="right" text="تاریخ Notification :" width="170"
                                       textAlignment="right"></Label>
                                <Label textWrap="true" textAlignment="right" dock="left"
                                       [text]="notificationDate"></Label>
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label textWrap="true" dock="right" text="شماره ی ITP :" width="170"
                                       textAlignment="right"></Label>
                                <Label textWrap="true" textAlignment="right" dock="left" [text]="itpNum"></Label>
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label dock="right" text="تاریخ ITP :" width="170" textAlignment="right"></Label>
                                <Label textWrap="true" textAlignment="right" dock="left" [text]="itpDate"></Label>
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label textWrap="true" dock="right" text="شماره ی برنامه :" width="170"
                                       textAlignment="right"></Label>
                                <Label textWrap="true" textAlignment="right" dock="left" [text]="programNum"></Label>
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label textWrap="true" dock="right" text="تاریخ برنامه :" width="170"
                                       textAlignment="right"></Label>
                                <Label textAlignment="right" dock="left" [text]="programDate" textWrap="true"></Label>
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label textWrap="true" dock="right" text="ساعت :" width="170"
                                       textAlignment="right"></Label>
                                <Label textWrap="true" dock="right" text="{{fromHour}} تا {{toHour}}"
                                       style="padding: 10 0 0 0"></Label>
                                <!--<Label textWrap="true" dock="right" [text]="fromHour" style="padding: 10 0 0 0"></Label>
                                <Label textWrap="true" dock="right" text="تا " width="30" style="padding-top: 12 0 0 0"></Label>
                                <Label textWrap="true" dock="right" textAlignment="right" [text]="toHour" width="300"
                                       style="padding: 10 0 0 0"></Label>-->
                            </dock-layout>
                            <dock-layout class="info-dockLayout">
                                <Label textWrap="true" dock="right" text="محصول :" width="170"
                                       textAlignment="right"></Label>
                                <Label textWrap="true" textAlignment="left" dock="left" [text]="product"></Label>
                            </dock-layout>
                            <dock-layout marginBottom="30">
                                <Label textWrap="true" dock="right" text="انتخاب محصول:" width="170"
                                       style="color: #000;"
                                       textAlignment="right"></Label>
                                <DropDown #dd [items]="productTitles" dock="right"
                                          [(ngModel)]="index"
                                          (selectedIndexChanged)="selectedIndexChanged($event)"
                                          color="#ffffff" class="drop-down" hint=" انتخاب کنید">
                                </DropDown>
                            </dock-layout>
                        </StackLayout>
                    </scroll-view>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        ////////////////////////item///////////////////item////////////////////////item///////////////////////////
        <StackLayout *ngIf="item">
            <StackLayout padding="5">
                <stack-layout class="page_border">
                    <StackLayout orientation="vertical" padding="5">
                        <StackLayout class="input-field">
                            <DockLayout
                                    style="background-color: #d7d7d7;height: 10%;border-radius: 5;">
                                <Label style="margin-top:5;color:black;" text="محصول انتخاب شده:" dock="right"></Label>
                                <Label style="margin-top:5;font-size: 16;text-align: center;font-weight: bold;color: black"
                                       text="{{proTitle}}"></Label>
                            </DockLayout>
                        </StackLayout>
                        <scroll-view orientation="vertical">
                            <StackLayout orientation="vertical" *ngIf="allow">
                                <StackLayout
                                        style="background-color: #d7d7d7;border-radius: 5;margin-top: 2;padding: 3;height: 40%">
                                    <DockLayout *ngFor="let it of itemCharacter; let i=index">
                                        <Label dock="right" textAlignment="right" width="150" style="margin: 15"
                                               text="{{it.title}}"></Label>
                                        <text-field [(ngModel)]="it.value" dock="left"
                                                    style="border-color: black;border-width: 1;background-color:white;padding: 5;margin-bottom: 3;border-radius:5 ;height: 45"></text-field>
                                    </DockLayout>
                                    <StackLayout orientation="horizontal">
                                        <Button style="padding: 3 5;background-color: darkgreen;color: white;"
                                                height="48"
                                                text="افزودن" (tap)="insert()"></Button>
                                        <!--<Button class="savee" text="مشاهده" (tap)="fetch()"></Button>-->
                                        <!--<Button class="savee" text="حذف جدول" (tap)="deleteTable()"></Button>-->
                                        <!--<Button class="savee" text="ایجاد جدول" (tap)="create_database()"></Button>-->
                                    </StackLayout>
                                </StackLayout>
                                <scroll-view orientation="vertical" style="margin-top: 5">
                                    <StackLayout orientation="vertical" horizontalAlignment="center"
                                                 style="height: 50%">
                                        <scroll-view orientation="horizontal">
                                            <GridLayout *ngIf="show" [rows]="genRows(resultItemChsrschter)"
                                                        [columns]="genCols(itemCharacter)">
                                                <ng-container *ngFor="let it of itemCharacter; let i=index">
                                                    <Label horizontalAlignment="right" row="0"
                                                           [col]="itemCharacter.length+1" text="ردیف"
                                                           style="width: 100;background-color: #556b2f;"
                                                           class="lbl"></Label>
                                                    <Label horizontalAlignment="right" row="0"
                                                           [col]="itemCharacter.length-(i)" text="{{it.title}}"
                                                           style="width: 100;background-color: darkolivegreen;"
                                                           class="lbl"></Label>
                                                    <Label horizontalAlignment="right" row="0" [col]="0" text="عملیات"
                                                           class="lbl"
                                                           style="width: 100;background-color: darkolivegreen;"></Label>
                                                </ng-container>
                                                <ng-container *ngFor="let ite of resultItemChsrschter;let r=index">
                                                    <Label text="{{r+1}}" class="lbl" [row]="r+1"
                                                           [col]="ite.values.length+1"></Label>
                                                    <Label text="{{fff.value}}" [row]="r+1"
                                                           [col]="ite.values.length-(c)"
                                                           *ngFor="let fff of ite.values;let c=index"
                                                           class="lbl"></Label>
                                                    <Label text="&#xf2ed;" class="fas operation"
                                                           style="margin-left: 40;border-bottom-width: 1;border-color: black;border-style: solid"
                                                           color="red" [row]="r+1" [col]="0"
                                                           (tap)="delete(ite.id)"></Label>
                                                    <Label [row]="r+1" class="operation" color="#ffffff" [col]="0"
                                                           text="---" style="margin: 0 10"></Label>
                                                    <Label text="&#xf044;" class="fas operation"
                                                           style="margin-right:40;border-left-width:1;border-bottom-width: 1;border-color: black;border-style: solid"
                                                           color="blue" [row]="r+1" [col]="0"
                                                           (tap)="edit(ite.id)"></Label>
                                                </ng-container>
                                            </GridLayout>
                                        </scroll-view>
                                    </StackLayout>
                                </scroll-view>
                            </StackLayout>
                        </scroll-view>
                    </StackLayout>
                </stack-layout>
            </StackLayout>
        </StackLayout>
        ///////////////////////////////////////////////////////////////////////////////////////////
        <StackLayout *ngIf="instanceInfo" horizontalAlignment="center">
            <Label text="این بخش در حال تکمیل شدن است" style="color: red;margin-top: 40%;padding-top: 10"></Label>
        </StackLayout>
        ////////////////////////////////////////////////instance///////////////instance//////////////////////
        <StackLayout *ngIf="instance" style="margin-bottom: 10;margin-top: 5;margin-left: 10;margin-right: 10" class="page_border">
           <StackLayout style="text-align: left" *ngIf="!displayInstanceEdit">
               <DockLayout style="background-color: #c7c7c7">
                   <label dock="left" class="fas" text="&#xf021;"style="font-size: 18;color: #044200"></label>//referesh
                   <label dock="left" class="fas" text="&#xf067;"style="font-size: 18;color: #484fff" (tap)="instanceEdit()" ></label>//inser
               </DockLayout>
           </StackLayout>
           <instance-edit *ngIf="displayInstanceEdit"></instance-edit>
        </StackLayout>
        ///////////////////////////CHECK_LIST///////////////////////CHECK_LIST///////////////////CHECK_LIST//////////
        <StackLayout *ngIf="checklist">
            <GridLayout rows="*" columns="*">

                <StackLayout padding="5" [ngStyle]="{opacity:processing?0.6:1}" row="0" column="0">
                    <scroll-view orientation="vertical">
                        <StackLayout class="page_border">
                            <StackLayout marginBottom="5" disabled>
                                <StackLayout class="input-field">
                                    <DockLayout
                                            style="background-color: #d7d7d7;height: 50;border-radius: 5;">
                                        <Label style="margin-top:5;color:black;" text="محصول انتخاب شده:"
                                               dock="right"></Label>
                                        <Label style="margin-top:5;font-size: 14;text-align: center;font-weight: bold;color: black"
                                               text="{{proTitle}}"></Label>
                                    </DockLayout>
                                </StackLayout>
                                <StackLayout horizontalAlignment="center"
                                             style="background-color: #d7d7d7;border-radius: 5;margin-top: 5;padding: 5"
                                             *ngIf="show">
                                    <StackLayout orientation="vertical">
                                        <dock-layout>
                                            <Label dock="right" text="اقلام" color="black" margin="0 10 0 10"></Label>
                                            <DropDown #dddd [items]="itemCharTitle"
                                                      [(ngModel)]="indexitemChar"
                                                      (selectedIndexChanged)="selectedIndexChangedItemChar($event)"
                                                      color="#ffffff" class="itemCss"
                                                      hint="انتخاب اقلام">
                                            </DropDown>
                                        </dock-layout>
                                    </StackLayout>
                                    <StackLayout marginTop="2"
                                                 style="border-top-width: 2;border-color: #4f4f4f;padding: 5;">
                                        <dock-layout>
                                            <Label dock="right" text="چک لیست" color="black" margin="0 10 0 10"></Label>
                                            <DropDown #dd [items]="checkListTitle"
                                                      [(ngModel)]="indexCheckList"
                                                      (selectedIndexChanged)="selectedIndexChangedCheckList($event)"
                                                      color="#ffffff" class="drop-down" hint="انتخاب چک لیست">
                                            </DropDown>
                                        </dock-layout>
                                    </StackLayout>
                                    <StackLayout style="width: 100%;">
                                        <StackLayout horizontalAlignment="right">
                                            <Button text="افزودن" (tap)="checkListSave()"
                                                    style="background-color: darkgreen;color: white;height: 48;width: 80"></Button>
                                        </StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>

                            <scroll-view orientation="vertical">
                                <stack-layout *ngIf="showCheckLsit">
                                    <scroll-view orientation="horizontal">

                                        <GridLayout [rows]="genCheckListRows(resultCheckList)"
                                                    columns="auto,auto,auto,auto,auto,auto,auto" class="gridd">
                                            <!--header-->
                                            <label style="background-color: darkolivegreen" text="ردیف" col="6"
                                                   row="0"></label>
                                            <label style="background-color: darkolivegreen" text="چک لیست" col="5"
                                                   row="0"></label>
                                            <label style="background-color: darkolivegreen" text="محصول" col="4"
                                                   row="0"></label>
                                            <label style="background-color: darkolivegreen" text="مشخصه" col="3"
                                                   row="0"></label>
                                            <label style="background-color: darkolivegreen" text="پاسخ دهی" col="2"
                                                   row="0"></label>
                                            <label style="background-color: darkolivegreen" text="امتیاز" col="1"
                                                   row="0"></label>
                                            <label style="background-color: darkolivegreen" text="عملیات" col="0"
                                                   row="0"></label>
                                            <!--body-->
                                            <ng-container *ngFor="let ch of resultCheckList;let c=index">
                                                <label text="{{c+1}}" [row]="c+1" [col]="6" class="bodyTbl"></label>
                                                <label text="{{ch.values.checkListTitle}}" [row]="c+1" [col]="5"
                                                       class="bodyTbl"></label>
                                                <label text="{{ch.values.itemTitle}}" [row]="c+1" [col]="4"
                                                       class="bodyTbl"></label>
                                                <label text="&#xf577;" color="#a52a2a"
                                                       (tap)="displayIdentifyChars(ch.values.identifyCharId)"
                                                       fontSize="16"
                                                       [row]="c+1" [col]="3" class="fas bodyTbl"></label>
                                                <label text="&#xf508;" color="#383bff" (tap)="answerToCheckList(ch)"
                                                       fontSize="16" [row]="c+1" [col]="2" class="fas bodyTbl"></label>
                                                <label text="20" [row]="c+1" [col]="1" class="bodyTbl"></label>
                                                <label text="&#xf2ed;" color="#ff6725" fontSize="16"
                                                       (tap)="deleteCheklist(ch)" [row]="c+1" [col]="0"
                                                       class="fas bodyTbl"></label>
                                            </ng-container>
                                        </GridLayout>
                                    </scroll-view>
                                </stack-layout>
                            </scroll-view>
                        </StackLayout>

                    </scroll-view>
                </StackLayout>
                <ActivityIndicator height="60" width="60" backgroundColor="#ffffff" color="black"
                                   [busy]="processing"
                                   rowSpan="1" colSpan="1" row="0" column="0"></ActivityIndicator>
            </GridLayout>
        </StackLayout>
        /////////////////////////////////////////////STANDARD//////////////////////////////////////////////
        <StackLayout *ngIf="standard">
            <StackLayout orientation="vertical" style="height: 100%">
                <scroll-view orientation="vertical">
                    <DockLayout *ngFor="let item of standards;let i=index" marginTop="10"
                                style="border-radius:10;margin: 5 7;padding: 5 ;background-color: #b4e1b4">
                        <StackLayout dock="right" orientation="vertical">
                            <Label class="standardTitle" text="عنوان:"></Label>
                            <Label class="standardTitle" text="کد:"></Label>
                            <Label class="standardTitle" text="گروه تخصصی:"></Label>
                            <Label class="standardTitle" text="فایل:"></Label>
                        </StackLayout>
                        <stack-layout dock="right">
                            <scroll-view orientation="horizontal">
                                <Label class="standardContent" text="{{item.standardTitle}}"></Label>
                            </scroll-view>
                            <Label class="standardContent" text="{{item.standardCode}}"></Label>
                            <Label class="standardContent" text="{{product}}" style="text-align: left"></Label>
                            <Label class="fas fa-atlassian standardContent" text="&#xf0c6;" fontSize="18"
                                   color="blue"></Label>
                        </stack-layout>
                    </DockLayout>
                </scroll-view>
            </StackLayout>
        </StackLayout>
        ////////////////////////////////////////////EQUIPMENT////////////////////////////////////
        <StackLayout *ngIf="equipment">
            <StackLayout orientation="vertical" style="height: 100%;">
                <scroll-view orientation="vertical">
                    <DockLayout *ngFor="let item of equipment;" marginTop="10"
                                style="border-radius: 10;margin: 5 7;padding: 5;background-color: #b4e1b4 ">
                        <stack-layout dock="right">
                            <Label class="equipTitle" text="عنوان:"></Label>
                            <Label class="equipTitle" text="عنوان انگلیسی:"></Label>
                            <Label class="equipTitle" text="نوع ابزار:"></Label>
                            <Label class="equipTitle" text="تجهیز:"></Label>
                        </stack-layout>
                        <stack-layout dock="right">
                            <Label class="equipContent" text="{{item.equipmentTitle}}" textWrap="true"></Label>
                            <Label class="equipContent" text="{{item.equipmentEnTitle}}" textWrap="true"></Label>
                            <Label class="equipContent" text=""></Label>
                            <Label class="equipContent" text=""></Label>
                        </stack-layout>
                    </DockLayout>
                </scroll-view>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
