<StackLayout style="height: 100%;">
    <DockLayout style="margin: 5 ;border-radius: 5">
        <Label dock="right" text="انتخاب فایل" style="padding-top: 10;font-weight:300;"></Label>
        <dock-layout dock="right"
                     style="border-width: 1;border-color: black;width: 50%;margin-right: 5;border-radius: 5">
            <Label dock="right" text="{{fileName}}" style="width:70%;padding: 10"></Label>
            <Button dock="left" style="width: 30%" (tap)="get_data()" text="...."></Button>
        </dock-layout>

        <DockLayout dock="right">
            <Button dock="left" class="fas btnSave" style="width: 30%;font-size: 15" (tap)="save()" text="ثبت"></Button>
            <Label dock="right"></Label>
        </DockLayout>
        <DockLayout dock="right">
            <Button dock="left" class="fas btnSave" style=" background-color: darkred;width: 350px;font-size: 15"
                    textWrap="true" (tap)="delteAllData()" text="  حذف داده های ثبتی"></Button>
            <Label dock="right"></Label>
        </DockLayout>
        <Label dock="right" text=""></Label>
    </DockLayout>
    <StackLayout style="height:80%" orientation="vertical">
        <DockLayout style="width: 100%;">
            <StackLayout orientation="vertical"
                         style="background-color: darkolivegreen;height: 100px;padding: 0;width: 10%;text-align: center;border-width: 1;border-color: black;padding-top: 8;padding-left: 15"
                         dock="right">
                <checkBox #selectAll name="selectAll" (tap)="checkAll()"></checkBox>
            </StackLayout>

            <label style="background-color: darkolivegreen;height: 100px;padding: 5 10;width: 20%;text-align: center;border-width: 1;border-color: black"
                   dock="right" text="ردیف"></label>
            <label style="background-color: darkolivegreen;height: 100px;padding: 5 10;width: 70%;text-align: center;border-width: 1;border-color: black"
                   dock="right" text="{{headers}}"></label>
        </DockLayout>
        <ScrollView orientation="vertical">
            <StackLayout>
                <DockLayout *ngFor="let ch of records;let c=index" style="width: 100%">
                    <stack-layout
                            style="height: 100px;padding: 8 0 0 15;width: 10%;text-align: center;border-width: 1;border-color: black"
                            dock="right">
                        <checkBox #checkbox checked="{{ch.isChecked}}" [(ngModel)]="ch.isChecked"
                                  name="ch{{c}}"></checkBox>
                    </stack-layout>
                    <label dock="right"
                           style="height: 100px;padding: 5 10;width: 10%;text-align: center;border-width: 1;border-color: black"
                           text="{{c+1}}"></label>
                    <label dock="right"
                           style="height: 100px;padding: 5 10;width: 80%;text-align: center;border-width: 1;border-color: black"
                           text="{{ch.values}}" textWrap="true"></label>
                </DockLayout>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</StackLayout>

