<GridLayout rows="*" columns="*" style="height: 100%;">
    <StackLayout style="height: 100%;" [ngStyle]="{opacity:display?0.6:1}" row="0" column="0">
        <DockLayout style="margin: 5 ;border-radius: 5">
            <Label dock="right" text="انتخاب فایل" style="padding-top: 10;font-weight:300;"></Label>
            <dock-layout dock="right"
                         style="border-width: 1;border-color: black;width: 80%;margin-right: 5;border-radius: 5">
                <Label dock="right" text="{{fileName}}" style="width:70%;padding: 10"></Label>
                <Button dock="left" style="width: 30%" (tap)="get_data()" text="...."></Button>
            </dock-layout>
            <Label dock="right" text=""></Label>
        </DockLayout>
        <DockLayout>
            <textField dock="right" hint="جستجوی نمونه  &#xf002; " class="fas"
                       style="height: 100px;width: 90%;border-width: 1;border-radius: 5;padding: 5;margin: 5 10"
                       verticalAlignment="center" (textChange)="searchCitiation($event)"></textField>
            <Label dock="left" text=""></Label>
        </DockLayout>

        <StackLayout style="height: 70%;" orientation="vertical">
            <scroll-view orientation="vertical" style="margin-top: 5">
                <StackLayout orientation="vertical" horizontalAlignment="center">
                    <scroll-view orientation="horizontal">
                        <GridLayout [rows]="genRows(records)" [columns]="genCols(itemCharacter)">
                            <ng-container *ngFor="let it of itemCharacter; let i=index">
                                <StackLayout orientation="vertical" row="0" [col]="itemCharacter.length+1"
                                             style="background-color: darkolivegreen;text-align: left;border-width: 1;border-color: black;padding-top: 8;padding-left: 10">
                                    <checkBox #selectAll name="selectAll" (tap)="checkAll()"></checkBox>
                                </StackLayout>
                                <Label horizontalAlignment="right" row="0" [col]="itemCharacter.length" text="ردیف"
                                       style="width: 100;background-color: #556b2f;" class="lbl"></Label>
                                <Label horizontalAlignment="right" row="0" [col]="itemCharacter.length-(i+1)"
                                       text="{{it.title}}" style="width: 100;background-color: darkolivegreen;"
                                       class="lbl"></Label>
                            </ng-container>
                            <ng-container *ngFor="let item of records;let r=index">
                                <stack-layout [row]="r+1" [col]="item.contentValue.length+1"
                                              style="text-align: left;border-width: 1;border-color: black;padding-top: 8;padding-left: 10">
                                    <checkBox #checkbox checked="{{item.isChecked}}" [(ngModel)]="item.isChecked"
                                              name="ch{{r}}"></checkBox>
                                </stack-layout>
                                <Label text="{{r+1}}" class="lbl" [row]="r+1"
                                       [col]="item.contentValue.length"></Label>
                                <Label text="{{fff.value}}" [row]="r+1" [col]="item.contentValue.length-(c+1)"
                                       *ngFor="let fff of item.contentValue;let c=index" class="lbl"></Label>
                            </ng-container>
                        </GridLayout>
                    </scroll-view>
                </StackLayout>
            </scroll-view>
        </StackLayout>

        <GridLayout rows="auto" columns="*,*,*,*" marginTop="10">
            <Button col="2" row="0" horizontalAlignment="center" class="fas btnSave" style="font-size: 15"
                    (tap)="save(records)"
                    text="ثبت"></Button>
            <Button class="fas btnSave" style=" background-color: darkred;font-size: 12"
                    textWrap="true" (tap)="delteAllData()" text="  حذف داده های ثبتی" col="1" row="0"
                    horizontalAlignment="center"></Button>
        </GridLayout>
    </StackLayout>
    <ActivityIndicator height="60" width="60" backgroundColor="#ffffff" color="black"
                       [busy]="display"
                       rowSpan="1" colSpan="1" row="0" column="0"></ActivityIndicator>
</GridLayout>
