<GridLayout backgroundColor="#e6e6e6">
    <ScrollView>
        <StackLayout verticalAlignment="stretch" horizontalAlignment="stretch">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">

                <DockLayout style="width: 100%;height: 50;padding-top: 10" >
                    <StackLayout style="width: 15%;padding-left: 5" dock="right">
                        <Label class="fas" text="&#xf0a9;" style="font-size: 20;color: #970000" (tap)="previousQuestion(perirityMobOnload)"></Label>
                    </StackLayout>

                    <StackLayout style="width: 70%" dock="right">
                            <Label text="پاسخ سوالات چک لیست {{questionWithAnswer.content.checkListCategoryTitle}}"
                                   class="text-center footnote" textWrap="true"></Label>
                    </StackLayout>

                    <StackLayout style="width: 15%;"dock="left">
                        <Label class="fas" text="&#xf0a8;" style="font-size: 20;color: mediumspringgreen" (tap)="nextQuestion(perirityMobOnload)"></Label>
                    </StackLayout>
                </DockLayout>
                <StackLayout class="hr-light" marginBottom="25"></StackLayout>
                <DockLayout>
                    <Label textAlignment="right" text="سوال{{questionWithAnswer.periorityMob}}:" class="label font-weight-bold m-b-5 "
                           dock="right"></Label>
                    <Label class="label font-weight-bold m-b-5" text="{{questionWithAnswer.content.title}}"
                           dock="right" textWrap="true" style="margin-top: 0;padding-top: 2"></Label>
                </DockLayout>
                <StackLayout class="hr-light"></StackLayout>
                <DockLayout>
                    <StackLayout orientation="vertical" dock="right">


                        <Label textAlignment="right" text="جواب:"
                               class="label font-weight-bold m-b-5 lblAnswer"></Label>
                        <Label textAlignment="right" text="وضعیت:" class="label font-weight-bold m-b-5 "
                               style="margin: 15 0 0 5"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="عیب:"
                               class="label font-weight-bold m-b-5 " style="margin: 10 0 0 5"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="رفع عیب:"
                               class="label font-weight-bold m-b-5 lblAnswer" style="margin-top: 10"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="گروه بندی:"
                               class="label font-weight-bold m-b-5 lblAnswer" style="margin-top: 10"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="طبقه بندی:"
                               class="label font-weight-bold m-b-5 lblAnswer" style="margin-top: 5"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="استناد و محل وقوع:"
                               class="label font-weight-bold m-b-5 lblAnswer" style="margin-top: 2"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="دفعات تکرار:"
                               class="label font-weight-bold m-b-5 lblAnswer" style="margin-top:5"></Label>
                        <Label textAlignment="right" *ngIf="displayNonCompliance" text="تصویر عیب:"
                               class="label font-weight-bold m-b-5" style="margin: 5 0 0 5"></Label>


                    </StackLayout>
                    <StackLayout orientation="vertical" dock="right">
                        <!--بخش انتخاب جواب -->
                        <!--چندگزینه ای-->
                        <DropDown #answer [items]="choiceOfanswerForItemStatus"
                                  [(ngModel)]="answerIndex"
                                  (selectedIndexChanged)="selectedIndexAnswer($event)"
                                  backroundColor="white" color="black" class="drop-down" style="margin-top: 5"
                                  *ngIf="itemShow">
                        </DropDown>
                        <!--متنی-->
                        <TextField height="30" *ngIf="textShow" class="textfieldBOrder" dock="right"
                                   hint="جواب خود را وارد کنید" [(ngModel)]="textAnswer"></TextField>
                        <!--بازه ای-->
                        <DockLayout *ngIf="scoreShow">
                            <Label marginTop="10" text=" از {{scoreFrom}} تا {{scoreTo}} " dock="right"></Label>
                            <TextField height="35" class="textfieldBOrder" keyboardType="number" dock="right"
                                       hint="بازه" [(ngModel)]="scoreNum"></TextField>
                        </DockLayout>
                        <!---->
                        <!--وضعیت-->
                        <DropDown #answer [items]="answerchoiceStatus"
                                  [(ngModel)]="statusIndex"
                                  (selectedIndexChanged)="selectedIndexStatus($event)"
                                  backroundColor="white" color="black" class="drop-down">
                        </DropDown>
                        <!--عیب-->
                        <DropDown #answer [items]="answerchoiceFault" *ngIf="displayNonCompliance"
                                  [(ngModel)]="faultIndex"
                                  (selectedIndexChanged)="selectedIndexDefect($event)"
                                  backroundColor="white" color="black" class="drop-down">
                        </DropDown>
                        <!--رفع عیب-->
                        <DropDown #answer [items]="answerchoiceTroubleshooting" dock="right"
                                  *ngIf="displayNonCompliance"
                                  [(ngModel)]="troubleshootingIndex"
                                  (selectedIndexChanged)="selectedIndexTroubleshooting($event)"
                                  backroundColor="white" color="black" class="drop-down">
                        </DropDown>
                        <!--گروه بندی-->
                        <dock-layout *ngIf="displayNonCompliance"><Label dock="right"
                                                                         style="border-radius: 5;background-color: #cecece;padding:7 5;margin-bottom: 5"
                                                                         text="گروه تستی"></Label></dock-layout>
                        <!--طبقه بندی-->
                        <dock-layout *ngIf="displayNonCompliance"><Label dock="right"
                                                                         style="background-color: #cecece;border-radius: 5;padding: 7 5;margin-bottom: 5"
                                                                         text="طبقه بندی تستی"></Label></dock-layout>
                        <!--استناد ومحل وقوع-->
                        <dock-layout *ngIf="displayNonCompliance">
                            <TextField height="30" dock="right"
                                       style="border-width: 1;border-color: black;border-radius: 5;padding: 5;margin-bottom: 5"></TextField>
                        </dock-layout>
                        <!--دفعات تکرار-->
                        <dock-layout *ngIf="displayNonCompliance">
                            <TextField height="30" dock="right"
                                       style="border-width: 1;border-color: black;border-radius: 5;padding: 5"></TextField>
                        </dock-layout>
                        <dock-layout *ngIf="displayNonCompliance">
                            <button class="btnCamera" text="دوربین" (tap)="takePicture()" dock="right"></button>
                            <button class="btnSave" text="افزودن" (tap)="insertDefectAnswer()" dock="left"></button>
                        </dock-layout>
                    </StackLayout>
                </DockLayout>
                <DockLayout *ngIf="displayNonCompliance">
                    <scroll-view orientation="horizontal" >
                        <scroll-view orientation="vertical" height="150">
                            <GridLayout columns="100,100,100,100,120" [rows]="genRows(questionFualtTable)"
                                        backgroundColor="lightgray" dock="right">

                                <Label class="answerGrid" text="عیب" colSpan="3" row="0" col="3"></Label>
                                <Label class="answerGrid" text="رفع عیب" row="0" col="2"></Label>
                                <Label class="answerGrid" text="تصویر عیب" row="0" col="1"></Label>
                                <Label class="answerGrid" text="عملیات" row="0" col="0"></Label>
                                <ng-container *ngFor="let item of questionFualtTable;let i=index;">
                                    <Label row="{{i+1}}" col="3" class="answerGrid-content" colSpan="3"
                                           text="{{item.defect}}"></Label>
                                    <Label row="{{i+1}}" col="2" class="answerGrid-content"
                                           text="{{item.troubleshooting}}"></Label>
                                    <Label row="{{i+1}}" col="1" class="answerGrid-content fas" style="font-size: 20"
                                           text="&#xf0c6;" (tap)="getImage(item.answerQuestionFualtPhoto)"
                                           color="#23b7ff"></Label>
                                    <Label row="{{i+1}}" col="0" class="answerGrid-content fas" style="font-size: 20"
                                           text="&#xf2ed;" (tap)="deleteDefectAnswer(item.id)" color="red"></Label>
                                </ng-container>

                            </GridLayout>
                        </scroll-view>
                    </scroll-view>
                </DockLayout>
                <DockLayout marginTop="10">
                    <Label textAlignment="right" text="توضیحات:" class="label font-weight-bold m-b-5"
                           style="margin: 10 0 0 5;" dock="right"></Label>
                    <TextField height="55" class="input input-border" dock="right" hint="توضیحات خود را وارد کنید"
                               [(ngModel)]="describtion"></TextField>
                </DockLayout>
                <StackLayout margin="10 0" class="hr-light"></StackLayout>
               <DockLayout>
                  <!-- <Label class="fas " text="&#xf0c7; &nbsp; ثبت پاسخ "
                          style="color: #000000;font-size: 18" textAlignment="center" dock="right"></Label>
                   <TextView class="fas " text=" بستن"
                          style="color: #000000;font-size: 18" textAlignment="center" dock="left"></TextView>-->
                   <Button class=" btn-orange answerBtn" style="background-color: #a40000" text="بستن" dock="left" (tap)="closeModal()"></Button>
                   <Button class=" btn-active answerBtn" text="ثبت پاسخ" style="background-color: darkgreen" dock="right" (tap)="saveAnswer()"></Button>
               </DockLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
