<StackLayout style="padding: 10">
    <stack-layout padding="15px" backgroundColor="white" style="height:100% ;align-items: stretch;border-width: 5;border-color: black">
        <scroll-view orientation="vertical">
            <StackLayout>
                <dock-layout>
                    <Label dock="right" text="شماره ی Notification :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="right" dock="left" [text]="notificationNum"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="تاریخ Notification :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="right" dock="left" [text]="notificationDate"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="شماره ی ITP :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="right" dock="left" [text]="itpNum"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="تاریخ ITP :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="right" dock="left" [text]="itpDate"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="شماره ی برنامه :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="right" dock="left" [text]="programNum"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="تاریخ برنامه :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="right" dock="left" [text]="programDate"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="ساعت :" width="150" textAlignment="right"></Label>
                    <Label dock="right" [text]="fromHour"></Label>
                    <Label dock="right" text="تا "></Label>
                    <Label dock="right" textAlignment="right" [text]="toHour" width="300"></Label>
                </dock-layout>
                <dock-layout>
                    <Label dock="right" text="محصول :" width="150" textAlignment="right"></Label>
                    <Label textAlignment="left" dock="left" [text]="product"></Label>
                </dock-layout>
                <!--<dock-layout>
                    <Label dock="right" text="انتخاب محصول:" width="150" textAlignment="right"></Label>
                    <DropDown #dd [items]="productTitles" dock="left"
                              [(ngModel)]="index"
                              (selectedIndexChanged)="selectedIndexChanged($event)"
                              backroundColor="white" color="black" class="drop-down">
                    </DropDown>
                </dock-layout>-->
            </StackLayout>
        </scroll-view>
    </stack-layout>


</StackLayout>
