/* Add mobile styles for the component here.  */

.standardTitle{
    margin: 5 7;
    font-size: 13;
    text-align: left;
    width: 150;
    background-color: white;
}
.standardContent{
    margin: 5 7;
    font-size: 13;
    text-align: right;
}
