<StackLayout style="height: 100%;">
    <DockLayout style="margin: 5 ;border-radius: 5">
        <DockLayout dock="right">

            <Label dock="right"></Label>
        </DockLayout>
        <Label dock="right" text=""></Label>
    </DockLayout>
    <StackLayout style="height:80%" orientation="vertical">
        <scroll-view orientation="vertical" style="margin-top: 5">
            <StackLayout orientation="vertical" horizontalAlignment="center">
                <scroll-view orientation="horizontal">

                </scroll-view>
            </StackLayout>
        </scroll-view>
    </StackLayout>
</StackLayout>
