/* Add mobile styles for the component here.  */
.drop-down{

    text-align: center;
    padding:5 5;
    font-size: 16;

    border-color: #000;
    border-width: 1;
    border-style: solid;

}
.lbl{
    text-align: center;
    padding: 10;
    border-color: #000;
    border-width: 1;
    border-style: solid;
    font-size: 12;

}
.operation{
    padding-top: 10;
    font-size: 20;
    text-align: center;
}
.rtl{
    direction: rtl;
}
.displayRtl{
    display: flex;
    flex-direction: column-reverse;
}
.savee{
    background-color: black;
    color: white;
    font-size: 12;
    margin: 5;
    padding: 10;
    width:100%;
}
