<!--The content below is only a placeholder and can be replaced.-->
<ActionBar class="actionBar">
    <Label text="عملیات بازرسی" style="font-size: 16"></Label>
</ActionBar>
<GridLayout backgroundColor="#CCCCCC">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF" style="width: 80%;border-radius: 12">
                <StackLayout class="input-field" marginBottom="15" marginTop="20">
                    <DockLayout>
                        <Label dock="right" style="color:darkred;width:25%;padding-top: 5;text-align: left" text="کدملی*" class="label reg font-weight-bold m-b-5"></Label>
                        <TextField dock="left" class="input" [(ngModel)]="nationalCode" (textChange)="checkRooted($event)" keyboardType="number" style="padding:3;border-bottom-width: 0.5;width: 75%"></TextField>
                    </DockLayout>
                </StackLayout>
                <StackLayout class="input-field" marginBottom="15">
                    <DockLayout>
                        <Label dock="right" style="color:darkred;width:25%;padding-top: 5" text="کدبازرسی*" class="label font-weight-bold m-b-5"></Label>
                        <TextField dock="left" class="input"[(ngModel)]="inspectorCode" keyboardType="number" (textChange)="checkRooted($event)" style="padding:3;border-bottom-width: 0.5;width: 75%"></TextField>
                    </DockLayout>
                </StackLayout>
                <StackLayout class="input-field" marginBottom="15">
                    <DockLayout>
                        <Label dock="right" style="color:darkred;width:25%;padding-top: 30" text="نوع نفر روز*" class="label font-weight-bold m-b-5"></Label>
                        <StackLayout dock="left" style="height: 75%;">
                            <ListPicker [items]="manDayType" selectedIndex="{{manDayTypeIndex}}" [(ngModel)]="manDayTypeIndex" class="picker" (selectedIndexChange)="onSelectedIndexChanged($event)"></ListPicker>
                        </StackLayout>
                    </DockLayout>
                </StackLayout>
                <Button (tap)="login()" class="btn btn-primary w-full" text="ورود" style="font-size: 18"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
