<!--The content below is only a placeholder and can be replaced.-->
<ActionBar class="actionBar" >
  <Label text="عملیات بازرسی"></Label>
</ActionBar>
<GridLayout backgroundColor="#CCCCCC">
  <ScrollView>
    <StackLayout margin="10" verticalAlignment="center">
      <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
        <StackLayout class="input-field">
          <Label style="padding-top: 5" text="نام کاربری*" class="label font-weight-bold m-b-5"></Label>
          <TextField class="input" ></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
          <Label style="padding-top: 5" text="رمزعبور*" class="label font-weight-bold m-b-5"></Label>
          <TextField secure="true" class="input"></TextField>
          <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <Button [nsRouterLink]="['/inspectionOperation']" class="btn btn-primary w-full" text="Login" ></Button>
        <Label [nsRouterLink]="['/register']" text="عضونیستید؟کلیک کنید" class=" Reg text-center footnote"></Label>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</GridLayout>
