<StackLayout orientation="vertical" padding="30px" backgroundColor="#8fbc8f">
    <StackLayout class="input-field">
        <DockLayout>
            <Label style="margin-top: 10" text="انتخاب محصول" dock="right"></Label>
            <DropDown #dd [items]="productTitles" dock="right"
                      [(ngModel)]="index"
                      (selectedIndexChanged)="selectedIndexChanged($event)"
                      backroundColor="white" color="black" class="drop-down">
            </DropDown>
        </DockLayout>
    </StackLayout>
    <scroll-view orientation="vertical">
        <StackLayout orientation="vertical" *ngIf="allow">
            <stack-layout class="hr-dark"></stack-layout>
            <DockLayout *ngFor="let it of itemCharacter; let i=index">
                <Label dock="right" textAlignment="right" width="130" style="margin: 15" text="{{it.title}}"></Label>
                <text-field [(ngModel)]="it.value" dock="left"></text-field>
            </DockLayout>
            <StackLayout orientation="horizontal">
                <Button class="savee" text="افزودن" (tap)="insert()"></Button>
                <!--<Button class="savee" text="مشاهده" (tap)="fetch()"></Button>-->
                <!--<Button class="savee" text="حذف جدول" (tap)="deleteTable()"></Button>-->
                <!--<Button class="savee" text="ایجاد جدول" (tap)="create_database()"></Button>-->
            </StackLayout>
            <scroll-view orientation="vertical">
                <StackLayout orientation="vertical"  style="flex-direction: row-reverse;">
                    <scroll-view orientation="horizontal">
                        <GridLayout *ngIf="show" [rows]="genRows(resultItemChsrschter)"
                                    [columns]="genCols(itemCharacter)"
                                    horizontalAlignment="center">
                            <Label horizontalAlignment="right" row="0" [col]="itemCharacter.length-(i)"
                                   *ngFor="let it of itemCharacter; let i=index"
                                   text="{{it.title}}"  class="lbl">
                            </Label>
                            <ng-container *ngFor="let ite of resultItemChsrschter;let r=index">
                                <Label text="{{fff.value}}" [row]="r+1" [col]="ite.values.length-(c)"
                                       *ngFor="let fff of ite.values;let c=index" class="lbl"></Label>
                                <Label text="&#xf2ed;"color="red" [row]="r+1" class="operation" [col]="0" marginLeft="30" (tap)="delete(ite.id)"></Label>
                                <!--<Image (tap)="delete(ite.id)" src="~/app/assets/images/delete.png" [row]="r+1" style="margin-left: 20" [col]="0" width="20" height="20"></Image>-->
                                <Label text="&#xf044;" color="blue" [row]="r+1" class="operation"  [col]="0" marginRight="30" (tap)="edit(ite.id)"></Label>
                                <!--<Image (tap)="edit(ite.id)" style="margin-right: 40" src="~/app/assets/images/edit.png" [row]="r+1"  [col]="0" width="20" height="20"></Image>-->
                            </ng-container>
                        </GridLayout>
                    </scroll-view>
                </StackLayout>
            </scroll-view>
        </StackLayout>
    </scroll-view>

</StackLayout>
